---
layout: default
---

<div class="home">

    <h1>{{ site.course_name }} <span style="font-size: 20px;color: #0006;">/ {{ site.course_semester }} </span></h1>

    {% include announcements.html %}
    <br />

    <h1>Course Description</h1>
    <p>{{ site.course_description }}</p>
    
    {{ content }}

    <h1>Coursework</h1>
    {% include coursework.html %}

    <h2>Late Policy</h2>
    {% include late_policy.html %}

    <h1>Diversity and Inclusion</h1>

    We strive to create a learning environment that supports a diversity of
    thoughts and perspectives, and respects each student's individuality and
    identity. We make mistakes, though, and if
    these is a way we can make you feel more included, please let one of the course
    staff know in any way you feel comfortable.

    We also expect you as a student to honor and respect your classmates and abide by the
    <a href="https://www.ucsc.edu/about/principles-community.html">UCSC Principles of Community</a>.
    Building an effective learning environment is only 
    possible with mutual respect. Each student must feel comfortable 
    admitting when they don't understand or risking being wrong in public.  
    Please make an effort to protect this space.

    We do not tolerate intolerance. If you experience any sort of harassment or
    discrimination, please contact the instructor as soon as possible. If you
    prefer to speak with someone outside of the course, please see the options below.
    <ul>
      <li><a href="https://reporthate.ucsc.edu/">How to report hate or bias</a></li> 
      <li><a href="https://healthcenter.ucsc.edu/about/report-harassment.html#report">How to report sexual harrassment</a></li> 
      <li><a href="https://care.ucsc.edu/">CARE</a> (free and confidential support services)</li>
      <li><a href="https://caps.ucsc.edu/counseling/crisis-assistance.html">Crisis Assistance and Suicide Prevention</a></li>
    </ul>

    <h1>DRC accomodations</h1>
    <p>UC Santa Cruz is committed to creating an academic environment that supports
    its diverse student body. If you are a student with a disability who requires
    accommodations to achieve equal access in this course, please submit your
    Accommodation Authorization Letter from the Disability Resource Center (DRC) to
    me privately during my office hours or by appointment or by email, preferably within the
    first two weeks of the quarter. At this time, I would also like us to discuss
    ways we can ensure your full participation in the course. I encourage all
    students who may benefit from learning more about DRC services to contact DRC
    by phone at 831-459-2089, or by email at <a href="mailto:drc@ucsc.edu">drc@ucsc.edu</a></p>

    <h1>COVID-19 Information</h2>

    <h3>What we can expect from each other:</h3>

     <p>Each individual at UC Santa Cruz should act in the best interests of
everyone else in our community. Please take care to comply with all university
guidelines about masking in indoor settings, performing daily symptom and badge
checks, testing as required by the campus vaccine policy, self-isolating in the
event of exposure, and respecting others’ comfort with distancing. <b>Please do
not come to class if your badge is not green.</b> If you forget your mask, you can
ask me for one; there is a limited supply of disposable masks in each
classroom. If you are ill or suspect you may have been exposed to someone who
is ill, or if you have symptoms that are in any way similar to those of
COVID-19, please err on the side of caution and stay home until you are well or
have tested negative after an exposure. Let me know that you’re not feeling
well and I’ll respond about how best you can keep learning. </p>
   
    <h3>What you can expect from me:</h3>

    <p> I have designed our course following campus guidance and with current
public health guidelines in mind. However, these guidelines may change in
accordance with shifting infection rates or the emergence of new variants. If
updated public health recommendations and university requirements make our
current course format unfeasible, or if I experience a need to self-isolate, I
will alter the format. This may include moving in-person sessions onto Zoom,
modifying course assignments to work in a remote format, and reconfiguring
exams (if applicable). I will  communicate clearly with you via email or Canvas
announcement about any changes that occur. I will provide as much advance
warning as possible and give you all the information you need to transition
smoothly to the new format. If you have questions about the changes, please
reach out to me so I can answer them.</p>

    <h3> <b>What I expect from you:</b></h3>

    <p><b>If you experience an illness or exposure that requires you to miss
class sessions or to attend remotely, please communicate with me as soon as
possible and I will provide you with options to allow you to continue making
progress in the class.</b></p>




    {% if site.data.previous_offering and site.data.previous_offering.offerings and site.data.previous_offering.offerings.size > 0 %}
    <h1>Previous Offerings</h1>
    <ul class="previous-offerings">
    {% for offer in site.data.previous_offering.offerings %}
    <li><a href="{{ offer.url }}">{{offer.title}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    <br>
    <div>
        <div style="width:25%; float: left">
            <!-- <h2>Instructors</h2> -->
            <!-- <div class="image--cover-container">
                <img src="{{site.data.people.instructor.profile_pic | prepend: site.baseurl }}" class="image--cover">
                <p>{{site.data.people.instructor.name}}</p>
            </div> -->

            <div class="profile-pic-gallary ">
                <h2>Instructor</h2>
                {% for ins in site.data.people.instructors %}
                <div class="image--cover-container">
                    <img src="{{ins.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ins.webpage %}
                    <p><a href="{{ ins.webpage }}">{{ins.name}}</a></p>
                    {% else %}
                    <p>{{ins.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <div style="width:35%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Teaching Assistants</h2>
                {% for ta in site.data.people.teaching_assistants %}
                <div class="image--cover-container">
                    {% if ta.profile_pic %}
                    <img src="{{ta.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% endif %}
                    {% if ta.webpage %}
                    <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
                    {% else %}
                    <p>{{ta.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div style="width:35%; float: left">
            <div class="profile-pic-gallary ">
                <h2>Tutors</h2>
                {% for ta in site.data.people.tutors %}
                <div class="image--cover-container">
                    {% if ta.profile_pic %}
                    <img src="{{ta.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% endif %}
                    {% if ta.webpage %}
                    <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
                    {% else %}
                    <p>{{ta.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
